body {
  color: #fff;
  background: #22181C;
  height: 100vh;
}

@media screen and (min-width: 600px) {
  body {
    background: #36393F;
  }
}

body header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 0.2px 5px 0px white;
  box-shadow: 0px 0.2px 5px 0px white;
  background: #22181C;
}

body header .menu {
  margin-left: 20px;
}

body header .tittle h1 {
  font-size: 40px;
  margin: 10px 0px;
}

body header .online {
  margin-right: 20px;
}

body main {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body main .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

body main .messages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 40px;
  min-height: 70px;
  margin: 5px 5px 0px 5px;
}

body main .messages li .chat-column-container {
  padding-top: 0px;
}

body main .messages li .imagen1 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0px 8px;
}

body main .messages li .chat-date {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.7rem;
  padding-left: 10px;
  margin: 0;
  align-self: flex-end;
}

body main .messages li .chat-text {
  color: #dcddde;
  font-size: 0.9375rem;
  font-weight: 400;
  padding-top: 4px;
  margin: 0;
}

body main .messages li .chat-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

body main .firebaseui-idp-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input-container {
  width: 94%;
  display: flex;
  flex-direction: row;
  background-color: rgba(114, 118, 125, 0.3);
  border-radius: 8px;
  margin: 0px 3%;
}

.text-input-container .emojis {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-input-container .input {
  width: 70%;
}

.text-input-container .input input {
  color: #fff;
}

.text-input-container .send {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-input-container .send .btn {
  border-radius: 100%;
}

.hide {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px !important;
}

/*# sourceMappingURL=styles.css.map */